# settings.py

# SECRET_KEY — генерируется один раз и хранится в секрете:
#   python -c "from django.core.management.utils import get_random_secret_key as k; print(k())"
SECRET_KEY=Твой_Секретный_Ключ_Для_Джанго

# DEBUG — только True или False (регистр не важен)
DEBUG=False
